<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quiz.quiz" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".QuizProvider"
            android:authorities="com.quiz.quiz.provide_quiz"
            android:exported="false" />

        <activity
            android:name=".QuizMaker"
            android:label="@string/build_quiz_data"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quiz.quiz.MainActivity" />
        </activity>

        <activity
            android:name=".QuizTaker"
            android:label="@string/quiz_maker"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quiz.quiz.MainActivity" />
        </activity>

        <activity
            android:name=".EditorActivity"
            android:label="@string/quiz_maker"
            android:parentActivityName=".QuizMaker" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quiz.quiz.MainActivity" />
        </activity>


        <activity
            android:name=".QuizFinishActivity"
            android:label="@string/quiz_maker"
            android:parentActivityName=".QuizTaker" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quiz.quiz.MainActivity" />
        </activity>


    </application>

</manifest>
